<h1>About me</h1>
<p>I am developing on this app to learn about rails and hone my skills.  One of my other interests is baking, so I thought about an app that would help people to share their baking photos and recipes.</p>
<p>For now I will copy the look and feel from the OneMonth project, but will change it when I find a style of my own that I like.</p>
<p>My app is called BakeShare</p>
